@page "/pi"
@using Regler.Data
@inject ReglerService ReglerService

<h1>PI-Regler</h1>
<PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="datapi" @ref="chart" />

@code {
    PlotlyChart chart;
    Config config = new Config();
    Layout layout = new Layout();
    IList<ITrace> datapi;
    protected override async Task OnInitializedAsync()
    {
        LoadPI();
    }
   private void LoadPI(){
         var tuple = ReglerService.GetPIRegler();
        IList<object> y =tuple.Item1.Select(v => v as object).ToList();
        IList<object> x = tuple.Item2.Select(v => v as object).ToList();
        datapi = new List<ITrace>
        {
            new Scatter
            {
            Name = "u(t)...Stellgröße",
            X = x,
            Y = y,
            },
            new Scatter
            {
            Name = "e(t)...Regeldifferenz",
            X = x,
            Y = Enumerable.Repeat<object>(1,y.Count).ToList()
            }
        };
    }
}