@page "/pt1"

@using Regler.Data

@inject ReglerService ReglerService
<h1>PT1-Regler</h1>
<PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="datapt1" @ref="chart" />

@code {
    PlotlyChart chart;
    Config config = new Config();
    Layout layout = new Layout();
    IList<ITrace> datapt1;
    protected override async Task OnInitializedAsync()
    {
        LoadPT1();
    }
    private void LoadPT1()
    {
        var tuple = ReglerService.GetPT1Regler();
        IList<object> y = tuple.Item1.Select(v => v as object).ToList();
        IList<object> x = tuple.Item2.Select(v => v as object).ToList();
        datapt1 = new List<ITrace>
{
new Scatter
{
Name = "y(t)...Stellgröße",
X = x,
Y = y,
},
new Scatter
{
Name = "u(t)...Regeldifferenz",
X = x,
Y = Enumerable.Repeat<object>(1,y.Count).ToList()
}
};
    }
}
